.header {
  background-color: #f1f1f1;
  margin-top: 0;
  margin-bottom: 25px;
  padding-top: auto;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#container {
  width: 550px;
  height: 200px;
  overflow: hidden;
  border: 1px solid deeppink;
  width: 50%;
  margin: auto;
  
}

#container > div {
  width: 10000px;
  height: 120px;
  white-space: nowrap;
}

#controls {
  padding: 15px;
}

#controls > button {
  margin: 5px;
}

#correct {
  font-weight: bold;
  color: palegreen;
}

#grading-text {
  padding-top: 50px;
}

#correct-label {
  background-color: palegreen;
}

#incorrect-label {
  background-color: lightcoral;
}

#incorrect {
  font-weight: bold;
  color: lightcoral;
}

#unplayed {
  font-weight: bold;
  color: orange;
}

#unplayed-label {
  background-color: orange;
}

.scroll {
  transition: transform 5s linear, opacity 0.5s ease-out, fill 0.2s linear;
}

.scrolling {
  transform: translate(-400px, 0);
}

.correct {
  opacity: 0;
}

.too-slow {
  transform: translate(400px, -2000px);
}

.grading {
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: xx-large;
}

.playing {
  width: 50%;
  margin: auto;
  text-align: center;
}

#piano_container {
  width: 70%;
  margin: auto;
}



#options {
  width:75%;
  margin: auto;
  text-align: center;
  
}


/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: orange;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  border: none;
  background: none;
  width:75%;
  text-align: center;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: orange;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

#artist {
  background-color: orange;
}

#tips {
  background-color: greenyellow;
}

#signature {
  background-color: lightcoral;
}

#options {
  width: 250px;
  margin-left: 50%;
}

#col1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

#col2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

#col3 {
  padding-top: 50px;
  padding-bottom: 50px;
}

#button-grade {
  padding-top: 30px;
  
}

#here {
  font-weight: bold;
}

#here:hover {
  background-color: burlywood;
}
