.header {
  background-color: #f1f1f1;
  margin-top: 0;
  margin-bottom: 25px;
  padding-top: auto;
  text-align: center;
}

body {
  background-color: rgb(229, 229, 204) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#page{
  background-color: rgb(229, 229, 204);
}

#icon1{
  margin-right: 5px;
  height:30px;
  width:30px;
}
#icon3{
  margin-top:5px;
  margin-left:10px;
  height:30px;
  width:40px;
}
#icon2{
  margin-top:2px;
  margin-left:15px;
  height:30px;
  width:40px;
}

#icon4{
  margin-top:5px;
  margin-left:10px;
  height:30px;
  width:32px;
}

#bg{
  width: 100%;
  height: 900px;
}

#banner{
  position: relative;
}
#exploreBtn{
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 150px;
  border: 0;
  border-radius: 15px;
  font-size: 15pt;
}
#slogan{
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50pt;
}

#navbar{
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(176,176,176,0.8);
}


.playing {
  width: 50%;
  margin: auto;
  text-align: center;
}

#uploading_midi {
  margin-top: 8px;
  margin-left:10px;
  color: grey;
}

#piano_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 41%;
}

#op {
  margin-right: 0px;
  display: flex;
  text-align: center;
}
#options{
  margin-right: 360px;
}


/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: orange;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

#piecetitle {
  background-color: orange;
}

#tips {
  background-color: greenyellow;
}

#signature {
  background-color: lightcoral;
}

#options {
  width: 250px;
  margin-left: 50%;
}

#col1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

#col2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

#col3 {
  padding-top: 50px;
  padding-bottom: 50px;
}

#button-grade {
  padding-top: 30px;

}

#here {
  font-weight: bold;
}

#here:hover {
  background-color: burlywood;
}

.column {
  float: left;
  width: 18%;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid #D8D8D8;
  height:200px;
  background-color: white;
}

.row{
  margin-left: 0px !important;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

#jumpHere{
  margin-top: 150px;
}

#piecetitle{
  font-size: 18pt;
  margin-top: -30px;
}
#tips{
  font-size: 18pt;
  margin-top: -30px;
}
#signature{
  font-size: 18pt;
  margin-top: -30px;
}

#gradeBtn{
  margin-bottom: 20px;
}

#uploadBar {
  margin-top: 9px;
  margin-left: 5px;
  color: grey;
}

#Web {
  background-color: darkgray;
  margin-left: 5px;
}

#MidiBoard {
  margin-left: 5px;
}
