#container {
    width: 550px;
    height: 200px;
    overflow: hidden;
    border: 1px solid deeppink;
    width: 50%;
    margin: auto;
    background-color: white;
  }
  
  #container > div {
    width: 10000px;
    height: 120px;
    white-space: nowrap;
  }

  .scroll {
    transition: transform 5s linear, opacity 0.5s ease-out, fill 0.2s linear;
  }
  
  .scrolling {
    transform: translate(-400px, 0);
  }

  .too-slow {
    transform: translate(400px, -2000px);
  }